<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/travel_trove"
        android:label="@string/app_name"
        android:roundIcon="@drawable/travel_trove_no_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrjTravelTroveSprint"
        tools:targetApi="31">
        <activity
            android:name=".BookingHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".AirlineBookingSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".HotelBookingSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".TravelersNumberActivity"
            android:exported="false" />
        <activity
            android:name=".SavedDestinationsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileManagementActivity"
            android:exported="false" />
        <activity
            android:name=".DestinationActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmBookingActivity"
            android:exported="false" />
        <activity
            android:name=".TripPackageBookingSummary"
            android:exported="false" />
        <activity
            android:name=".DateSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".AdditionalServicesActivity"
            android:exported="false" />
        <activity
            android:name=".HotelPackageActivity"
            android:exported="false" />
        <activity
            android:name=".AirlinesActivity"
            android:exported="false" />
        <activity
            android:name=".DestinationPackageActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />
    </application>

</manifest>